@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, 
body
{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* .container */

.container {
    width: 50%;
    height: 100vh;
    margin: auto;
    background-color: aquamarine;

}

/* end container */

/* Top Set */

.top-set {
    width: 100%;
    height: 350px;
    background-color: blueviolet;
}

.share {
    height: 70px;
    background-color: blue;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    height: auto;
    background-color: brown;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.fullname {
    margin-top: 1rem;
    font-weight: bold;
}

.bio {
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contact {
    margin-top: 0;
    background-color: aqua;
}

.contact-title {
    text-align: center;
    font-weight: bold;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.contact-button {
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: .5rem;
  background-color: #7f8d9e;
  color: #2d2f39;
  border: #7f8d9e;
  border-radius: 100%;
  align-content: space-between;
  cursor: pointer;
  padding : .5rem;
  text-align: center;
}

/* End Top Set */

/* Links */

.links {
    background-color:#7f8d9e;
    height: 100vh;
    padding: 2rem;
}

.linkbutton {
    margin-top: .5rem;
    margin-bottom: 3rem;
}

.linkbutton a {
    margin-left: 4rem;
    padding: 1rem 20rem;
    background-color: #424447;
    color: white;
    text-decoration: none;
}

.linkbutton a:hover {
    margin-left: 4rem;
    padding: 1rem 20rem;
    background-color: #eef;
    color:#424447;
    text-decoration: none;
}

/* End Links */

/* Gallery Perumahan */

.gallery{
    width: 100%;
    display: block;
    min-height: 100vh;
    margin-top: 4rem;
    background-color: #2a2932;
    padding-top: 2rem;
    
 }
 .gallerywrapper{
    /* max-width: 1170px; */
    margin:auto;
 }
 .row {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
 }
 .gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
 }
 .gallery .gallery-filter .filter-item{
    color: #ffffff;
    font-size: 17px;
    border: 2px solid white;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
 }
 .gallery .gallery-filter .filter-item.active{
    color: white;
    border-color : #16b5ef;
    background: #16b5ef;
  }
.gallery .gallery-item{
	width: 40%;
	padding: 10px;
}
.gallery .gallery-item-inner img{
	width: 100%;
    border: none;
    border-radius: 30px;
}
.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}
@media(max-width: 491px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 667px){
    .gallery .gallery-item{
		width: 100%;
	}
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}
/* End Gallery Perumahan */